---
import { getCollection } from "astro:content";

const { collection = "blog", title, basePath = `/${collection}` } = Astro.props;

const items = await getCollection(collection);
const sortedItems = items.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const latest = sortedItems[0];
---

{
  latest && (
    <article class="pb-1 h-sm">
      <h3>{title}</h3>
      <a href={`${basePath}/${latest.id.replace(/\.mdx?$/, "")}`} class="inherit-color">{latest.data.title}</a>
      {latest.data.description && <p class="description">{latest.data.description}</p>}
    </article>
  )
}
